.clients {
  @extend %list-style;

  display: inline-flex;
}

.clients__item {
  display: flex;

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.clients__link {
  @include centeredflex();

  border: 1px solid #afb1b8;
  border-radius: 4px;
  width: 170px;
  height: 92px;
  text-decoration: none;

  color: #afb1b8;

  &:hover,
  &:focus {
    border: 1px solid $accent-color;
  }
}

.clients__icon {
  @include transition();

  fill: currentColor;
  border: none;

  .clients__link:hover &,
  .clients__link:focus & {
    color: $accent-color;
  }
}
