.hero__overlay {
  max-width: 1600px;
  height: 600px;
  margin-right: auto;
  margin-left: auto;
  padding: 200px 0;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/overlay.jpg");
  background-size: cover;
}

.hero {
  text-align: center;
  background: #c4c4c4;
}

.hero__title {
  @extend %indentations;

  width: 696px;
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;

  color: $main-bg-color;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
  letter-spacing: 0.06em;
}
