.logo {
  color: $accent-color;

  font-weight: 700;
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;

  &--black {
    color: #000000;
  }

  &--white {
    color: $main-bg-color;
  }
}
